@font-face {
    font-family: 'Press Start 2p';
    /* src: "PressStart2P-Regular.ttf"; */
    src :url(/PressStart2P-Regular.ttf)
  }



img{
    width: 80px;
    height: 100px;
    left: 600px;
    top: 300px;
    position: absolute;
}
body{
    background-color: transparent;
    background-size: cover;
   
}
/* .bkglvl1{
    background-image:url("../images/pics/10.jpg");
}
.bkglvl2{
    background-image:url("../images/pics/13.jpg");
} */

#health, #speed, #monster-health, #timer{
    font-family: 'Press Start 2p';
    background-color: darkslategray;
    text-align: center;
    padding-bottom: 15px;
    display: inline-block;
    border: 2px solid black;
    width: 20%;
    height: 30px;
}

#monster-health{
    float: right;
}

/* #timer{
    float: right;
    margin-right: 5px;
} */

.inner-text{
    color: chartreuse;
}

#modal-text{
    font-family: 'Press Start 2p';
    font-size: xx-large;
    /* font-family: sans-serif; */
    font-weight: bolder;
    color: crimson;
    text-align: center;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content/Box */
.modal-content {
    background-image: url(../images/pics/9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: darkcyan; */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 400px;
    
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



#contBtn{
    font-family: 'Press Start 2p';
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;   
 }
 #contBtn:active{
    box-shadow: none;
	position: relative;
	top: .2em;
 }
 #gameBorder{
    border: 5px solid black;
    width: 1300px;
    height: 490px;
    margin: auto;
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.gameborderBkg1{
    
    background-image: url("../images/backgrounds/gameBg1.gif") ;
}
.gameBkg1{
    
    background-image: url("../images/backgrounds/bg1.jpg") ;
}
.gameborderBkg2{
    
    background-image: url("../images/backgrounds/gameBg2.gif") ;
}
.gameBkg2{
    
    background-image: url("../images/backgrounds/bg2.jpg") ;
}
.gameborderBkg3{
    
    background-image: url("../images/backgrounds/gameBg3.gif") ;
}
.gameBkg3{
    
    background-image: url("../images/backgrounds/bg3.jpg") ;
}
.gameborderBkg4{
    
    background-image: url("../images/backgrounds/gameBg4.gif") ;
}
.gameBkg4{
    
    background-image: url("../images/backgrounds/bg4.jpg") ;
}
#gameBar{
    width: 900px;
    height: 100px;
    border: 5px solid black;
    margin-left: 200px;
    padding: 10px;
    background-color: cadetblue;
}
#timer{
    display: inline-block;
    margin-left: 194px;
    margin-right: 194px;
    width: 200px;
    padding: 20px;
    border: crimson solid 2px;
    font-size: 20px;
    font-style:italic;
    font-weight: bold;
}

#characterDetails{
    display: inline-block;
    background-color: rebeccapurple;
    width: fit-content;
    text-align: center;
    padding:10px;
    font-size: 15px;
    font-style:italic;
    font-weight: bold;
}
#characterHPCover{
    width: 100px;
    height: 20px;
    background-color:slategray;
    margin: 5px;
}
#characterSpeed{
    /* width: 100px; */
    height: fit-content;
    background-color: royalblue;
    margin: 5px;
    padding: 5px;
}



#monsterDetails{
    display: inline-block;
    background-color: rebeccapurple;
    width: fit-content;
    text-align: center;
    padding: 10px;  
    font-size: 15px;
    font-style:italic;
    font-weight: bold;
}
#monsterHPCover{
    width: 100px;
    height: 20px;
    background-color:slategray;
    margin: 5px;
}
#monsterSpeed{
    /* width: 100px; */
    height: fit-content;
    background-color: royalblue;
    margin: 5px;
    padding: 5px;
}

#monsterHP{
    display: inline-block;
    width: 100px;
    height: 100%;
    background-color: tomato;
}
#characterHP{
    display: inline-block;
    width: 100px;
    height: 100%;
    background-color: red;
}


#changeround {

    font-size:80px;
    font-family: 'Erica One', cursive;
    margin-top: 7%;
    color:#701350;
    text-shadow: 0 0 5px #bb7da8, 0 0 25px #f77bc7, 0 0 50px #e497d9,0 0 100px #eca6e9;
    filter: blur( 0.5 px);
    /*box-shadow: 0 0 5px #FF3300, 0 0 25px #FF0000, 0 0 50px #FF3300,0 0 100px #FF6600;*/
    border-top: 2px solid rgb(226, 30, 213);
    border-bottom: 2px solid #70305a;
    border-left: 2px solid  #660544;
    border-right: 2px solid   #cf2293;
    border-radius:10px;
    background-color: transparent;
    text-align: center;
    margin-left: 34%;
      width:400px;
      padding-top: 50px;
      padding-bottom: 50px;



  }
