body{
    background-color: black;
}
header{
  margin-top: 2%;
  font-size:25px ;
  text-align: center;
  color: white;
  font-weight: 2px;
  font-family: Castellar;
}
.reflct {
  position: relative;
  -webkit-box-reflect: below -4px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.reflct li {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: animate_gamename 1.5s ease-out;
  animation-delay: calc(.1s * var(--i))
}  
.div1{
  cursor: pointer;
margin-top:10%;
margin-left: 25%;
margin-right: 15%;
display:inline-block;
/*background-color: white;*/
width:120px;
height:100px;
}
.div2{
  cursor: pointer;
    display:inline-block;
    /*background-color: white;*/
    width:120px;
    height:100px;
  
}
.div3{
  text-shadow: 0 0 5px #f3b8f0, 0 0 25px #f7c9f4, 0 0 50px #e9c5e0, 0 0 100px #f1bcf1;

  color: rgb(232, 182, 236);
  font-weight:100 ;
  font-size: 25px;
  margin-left: 45%;
  text-align: center;
  margin-top: 5%;
    display:inline-block;
    /*background-color: white;*/
    width:fit-content;
    height:fit-content;
}
#character1{
    position: absolute;
    width:12%;
    height:30%
}

#character1:hover{
  content: url("../images/gif/hitRight.gif") ;
  width:12%;
  height:30%
}
#character2{
    position: absolute;
    width:35%;
    height:30%;
}
#character2:hover{
  content: url("../images/gif/johnny-spin-i.gif") ;
}

.chooseBtn {

  margin-top: 5%;
    margin-left: 35%;
  position: absolute;
  width: contain;
  background: transparent;
}

.chooseBtn form a {
  display: inline-block;
  padding: 5px 15px;
  color:white;
  text-decoration: none;
  border-radius: 5px;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  font-size: 22px;
 /* margin-top: 20px;*/
  border-top: 2px solid rgb(254, 201, 0);
  border-bottom: 2px solid #FF6600;
  border-left: 2px solid #FFF496;
  border-right: 2px solid #DE4A00;
  animation: animation_button 1s linear infinite;
}

.chooseBtn a:hover {
  background:#FF3300;
  color: #fff;
  border-radius: 5px;
  animation: none;
  border:transparent;
  box-shadow: 0 0 5px #FF3300, 0 0 25px #FF0000, 0 0 50px #FF3300,0 0 100px #FF6600;
}
@keyframes animation_button {
  20% {
      border-top: 2px solid  #9D0400;
      border-bottom: 2px solid #BE2D00;
      border-left: 2px solid   #FF6600 ;
      border-right: 2px solid   #FF6600 ;
      
    }
  40% {
      border-top: 2px solid #FF6600;
      border-bottom: 2px solid #FFA366;
      border-left: 2px solid    #BE2D00;
      border-right: 2px solid  rgb(239, 243, 17) ;
      
    }
  100% {
      border-top: 2px solid rgb(239, 243, 17);
      border-bottom: 2px solid   #FFA366;
      border-left: 2px solid  #BE2D00;
      border-right: 2px solid  #FF6600;
    }
  
}



 /* .p1{
  
  fill: #FAF8FF;
  width: fit-content;
  stroke:none;
  stroke-width: 2px;
  font-size: 850px;
  font-family: Algerian;
} */
p{
  margin-left: 5%;
}
span {
  height:fit-content;
  width: fit-content;
  /*background-color:rgb(70, 18, 18);*/
  font-weight: 100px;
  color: #fff;
  text-shadow: 0 0 5px #FAF8FF, 0 0 25px #FAF8FF, 0 0 50px #FAF8FF, 0 0 100px #FAF8FF;

  font-size: 20px;
  display: inline-block;
  opacity: 0;
  filter: blur(0.9px);
}

span:nth-child(1) {
  animation: story 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: story 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: story 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: story 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: story 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: story 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: story 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: story 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: story 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: story 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: story 0.8s 4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: story 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: story 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: story 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(15) {
  animation: story 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(16) {
  animation: story 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes story {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
li{
    display: inline-block;
    width:contain;
    cursor: pointer;
}

.btnstart{
cursor: pointer;
}
#startbtn{
  margin-right: 200px;
}